{% extends 'painel/shared/base.html' %}
{% load static %}
{% block title_page %}<i class="bi bi-shop"></i> Editar do Pedido{% endblock %}
{% block content %}
<div class="card shadow">
    <div class="card-body">
        <div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <address>
                            <span class='fs-5 text'><strong>PEDIDO #{{ order.item_id }}</strong></span><br>
                            <span>NOME - {{ order.client }}</span><br>
                            <span>E-MAIL - {{ order.email }}</span><br>
                            <span>PLANO - {{ order.get_product_display }} {{ order.get_data_day_display }}</span><br>
                            <span>DIAS - {{ order.days }}</span>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <form action="{% url 'ord_edit' order.id %}" method="POST">
            {% csrf_token %}
            <div class="row mb-4">
                <div class="col-md-6 col-xl-3">
                    <label class="form-label">Tipo de Chip</label>
                    <div>
                        <input type="radio" class="btn-check" name="type_sim" id="type_sim1" value="sim" {% if order.id_sim.type_sim == 'sim' %}checked{% endif %}>
                        <label class="btn btn-outline-primary" for="type_sim1">SIM Físico</label>
                        <input type="radio" class="btn-check" name="type_sim" id="type_sim2" value="esim" {% if order.id_sim.type_sim == 'esim' %}checked{% endif %}>
                        <label class="btn btn-outline-primary" for="type_sim2">eSIM Virtual</label>                
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <label class="form-label">Tipo de Chip</label>
                    <div>
                        <input type="radio" class="btn-check" name="operator" id="operator1" value="TM" {% if order.id_sim.operator == 'TM' %}checked{% endif %}>
                        <label class="btn btn-outline-primary" for="operator1">T-mobile</label>                    
                        <input type="radio" class="btn-check" name="operator" id="operator2" value="CM" {% if order.id_sim.operator == 'CM' %}checked{% endif %}>
                        <label class="btn btn-outline-primary" for="operator2">China Mobile</label>                    
                        <input type="radio" class="btn-check" name="operator" id="operator3" value="TC" {% if order.id_sim.operator == 'TC' %}checked{% endif %}>
                        <label class="btn btn-outline-primary" for="operator3">Telcom</label>
                    </div>
                </div>
            </div>
            <label class="form-label" for="type_sim1">SIM/(e)SIM</label>
            <br>
            <div class="col-md-6 col-xl-6">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="sim"><i class="bi bi-sim"></i></span>
                    <input type="text" class="form-control" value="{{ order.id_sim.sim }}" disabled>
                    <span class="input-group-text ms-3" id="sim">Novo SIM</span>
                    <input type="text" class="form-control" name="sim" placeholder="SIM" aria-label="SIM">
                </div>
            </div>
            <br>
            <label class="form-label">Data de ativação</label>
            <br>
            <div class="col-md-6 col-xl-6">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                    <input type="type" class="form-control" value="{{ order.activation_date|date:'d/m/Y' }}" disabled>
                    <span class="input-group-text ms-3" id="activation_date">Nova data</span>
                    <input type="date" class="form-control" name="activation_date">
                </div>
            </div>
            <br>
            <label class="form-label">IMEI/EID</label>
            <br>
            <div class="col-md-6 col-xl-6">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="cell_imei"><i class="bi bi-phone"></i></span>
                    <input type="text" class="form-control" name="cell_imei" placeholder="IMEI" value="{% if order.cell_imei %}{{ order.cell_imei }}{% endif %}">
                    <span class="input-group-text" id="cell_eid"><i class="bi bi-phone"></i></span>
                    <input type="text" class="form-control" name="cell_eid" placeholder="EID" value="{% if order.cell_eid %}{{ order.cell_eid }}{% endif %}">
                </div>
            </div>
            <br>
            <label class="form-label">Rastreio</label>
            <br>
            <div class="col-md-6 col-xl-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="tracking"><i class="bi bi-truck"></i></span>
                    <input type="text" class="form-control" name="tracking" placeholder="Rastreio" value="{% if order.tracking %}{{ order.tracking }}{% endif %}">
                </div>
            </div>
            <br>
            <div class="col-md-6 col-xl-3">
                <label class="form-label">Status</label>
                <select class="form-select" name="ord_st_f">
                    {% for ord_s in ord_status %}
                    <option value="{{ord_s.0}}"{% if ord_s.0 == order.order_status %} selected{% endif %}>{{ord_s.1}} </option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mb-3">Editar Pedido</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}