{% extends 'painel/shared/base.html' %}
{% load static %}
{% block title_page %}<i class="bi bi-shop"></i> Editar do Pedido{% endblock %}
{% block content %}
<div class="card shadow">
    <div class="card-body">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <address>
                            <strong>Pedido #{{ order.item_id }}</strong><br>
                            {{ order.client }}<br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <form action="{% url 'sims_add_sim' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="form-label">Tipo de Chip</label>
            <div class="form-group">
                <input type="radio" class="btn-check" name="type_sim" id="type_sim1" value="sim" {% if order.id_sim.type_sim == 'sim' %}checked{% endif %}>
                <label class="btn btn-outline-primary" for="type_sim1">SIM Físico</label>
                
                <input type="radio" class="btn-check" name="type_sim" id="type_sim2" value="esim" {% if order.id_sim.type_sim == 'esim' %}checked{% endif %}>
                <label class="btn btn-outline-primary" for="type_sim2">eSIM Virtual</label>
            </div>
            <br>
            <label class="form-label">Operadora / SIM</label>
            <br>
            <div class="input-group flex-nowrap">
                <input type="radio" class="btn-check" name="operator" id="operator1" value="TM" required {% if order.id_sim.operator == 'TM' %}checked{% endif %}>
                <label class="btn btn-outline-primary" for="operator1">T-mobile</label>
                
                <input type="radio" class="btn-check" name="operator" id="operator2" value="CM" required {% if order.id_sim.operator == 'CM' %}checked{% endif %}>
                <label class="btn btn-outline-primary" for="operator2">China Mobile</label>
                
                <input type="radio" class="btn-check" name="operator" id="operator3" value="TC"required {% if order.id_sim.operator == 'TC' %}checked{% endif %}>
                <label class="btn btn-outline-primary" for="operator3">Telcom</label>                
            </div>
            <br>
            <label class="form-label">(e)SIM</label>
            <br>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="sim"><i class="bi bi-sim"></i></span>
                <input type="text" class="form-control" name="sim" placeholder="(e)SIM" aria-label="(e)SIM" value="{{ order.id_sim.sim }}" disabled>
                <span class="input-group-text ms-3" id="order_date">Novo SIM</span>
                <input type="date" class="form-control" placeholder="{{ order.order_date|date:'d/m/Y' }}" aria-label="{{ order.order_date|date:'d/m/Y' }}" value="{{ order.order_date|date:'d/m/Y' }}">
                <div id="textSim" class="form-text ms-3">Só preencha o campo ao lado se for alterar a data do pedido.</div>
            </div>
            <br>
            <label class="form-label">Data de ativação</label>
            <br>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="order_date"><i class="bi bi-calendar3"></i></span>
                <input type="type" class="form-control" name="order_date" value="{{ order.order_date|date:'d/m/Y' }}" disabled>
                <span class="input-group-text ms-3" id="order_date">Nova data</span>
                <input type="date" class="form-control" placeholder="{{ order.order_date|date:'d/m/Y' }}" aria-label="{{ order.order_date|date:'d/m/Y' }}" value="{{ order.order_date|date:'d/m/Y' }}">
                <div id="textSim" class="form-text ms-3">Só preencha o campo ao lado se for alterar a data do pedido.</div>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mb-3">Editar Pedido</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}