{% extends 'painel/shared/base.html' %}
{% load static %}
{% block title_page %}Pedidos{% endblock %}
{% block content %}
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-secondary m-0 fw-bold">Lista de pedidos</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-nowrap">
            </div>
            <div class="col-md-6">
                <div id="dataTable_filter" class="text-md-end dataTables_filter"><label class="form-label"><input class="form-control form-control-sm" type="search" aria-controls="dataTable" placeholder="Search" /></label></div>
            </div>
        </div>
        <div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table id="dataTable" class="table table-hover my-0">
                <thead>
                    <tr>
                        <th>Pedido</th>
                        <th>Cliente</th>
                        <th>Condição</th>
                        <th>Tipo</th>
                        <th>(e)SIM</th>
                        <th>Produto</th>
                        <th>Países</th>
                        <th>Ligações</th>
                        <th>Dias</th>
                        <th>Mod. Celular</th>
                        <th>Pedido/Chip</th>
                        <th>Ativação</th>
                        <th>Término</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.item_id }}</td>
                        <td>{{ order.client }}</td>
                        <td>{{ order.get_condition_display }}</td>
                        <td>0000000000</td>
                        <td>SIM</td>
                        <td>{{ order.get_product_display }} {{ order.get_data_day_display }}</td>
                        <td>{% if order.countries == 0 %}-{% else %}Sim{% endif %}</td>
                        <td>{% if order.calls == 0 %}-{% else %}Sim{% endif %}</td>
                        <td>{{ order.days }}</td>
                        <td>{{ order.cell_mod }}</td>
                        <td>{{ order.ord_chip_nun }}</td>
                        <td>{{ order.activation_date|date:"d/m/Y" }}</td>
                        <td>{{ order.activation_date|date:"d/m/Y" }}</td>
                        <td>{{ order.get_order_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}