{% extends 'painel/shared/base.html' %}
{% load static %}
{% load date_day %}
{% load status_count %}
{% block title_page %}<i class="bi bi-shop"></i> Pedidos{% endblock %}

{% block css_custom %}
<style>
    .custom-tooltip {
        --bs-tooltip-bg: var(--bs-secondary);
        --bs-popover-body-padding-x: 0.1rem;
        --bs-popover-body-padding-y: 0.1rem;
        }
        .custom-popover {
        --bs-popover-border-color: var(--bs-secondary);
        --bs-popover-body-padding-x: 1rem;
        --bs-popover-body-padding-y: .5rem;
        }
</style>
{% endblock %}

{%block js_custom %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-secondary m-0 fw-bold">Lista de pedidos</p>
    </div>
    <div class="card-body">
        <form class="row g-3" action="{% url 'orders_list' %}" method="POST">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                    {% for ord_sts in ord_st_list %}
                    {% if ord_sts.2 != 0 %}
                    <button type="button" class="btn btn-outline-primary">{{ord_sts.1}} ({{ord_sts.2}})</button>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <select class="form-select" name="ord_staus">
                    <option value="" selected>Alterar Status</option>
                    {% for ord_st in ord_st_list %}
                    <option value="{{ord_st.0}}">{{ord_st.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary" name="up_status">Alterar</button>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Nome" name="ord_name_f">
            </div>
            <div class="col-md-1">
                <input type="text" class="form-control" placeholder="Pedido" name="ord_order_f">
            </div>
            <div class="col-md-1">
                <input type="text" class="form-control" placeholder="(e)SIM)" name="ord_sim_f">
            </div>
            <div class="col-md-2">
                <select class="form-select" name="oper_f">
                    <option value="" selected>Todas Operadoras</option>
                    {% for op_s in oper_list %}
                    <option value="{{op_s.0}}">{{op_s.1}}</option>
                    {% endfor %}
                </select>
            </div>  
            <div class="col-md-2">
                <select class="form-select" name="ord_st_f">
                    <option value="" selected>Todos Status</option>
                    {% for ord_st in ord_st_list %}
                    {% if ord_st.2 != 0 %}
                    <option value="{{ord_st.0}}">{{ord_st.1}} ({{ord_st.2}})</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>          
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary" name="up_filter">Filtrar</button>
            </div>
            <div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTable" class="table table-bordered table-striped table-hover my-0">
                    <thead>
                        <tr>
                            <th><input class="form-check-input" type="checkbox" id="checkAll"></th>
                            <th>Pedido</th>
                            <th>Cliente</th>
                            <th>(e)SIM</th>
                            <th>Op.</th>
                            <th>Produto</th>
                            <th>Países</th>
                            <th>Voz</th>
                            <th>Dias</th>
                            <th>Celular</th>
                            <th>Ped./Chip</th>
                            <th>Ativação</th>
                            <th>Término</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if orders %}
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <div class="rows">
                                    <input class="checkItem form-check-input" type="checkbox" value="{{order.id}}" name="ord_id">
                                    </div>
                                </td>
                                <td>{{ order.item_id }}</td>
                                <td>{{ order.client|truncatechars:30 }}</td>
                                <td>
                                    <span
                                        data-bs-toggle="popover" data-bs-placement="top"
                                        data-bs-custom-class="custom-popover"
                                        data-bs-content="{{order.id_sim.get_operator_display}} - {% if order.id_sim.type_sim == 'sim' %}SIM{% elif order.id_sim.type_sim == 'esim' %}eSIM{% endif %}">
                                        {{ order.id_sim }}
                                    </span>
                                    
                                    {% if order.id_sim.type_sim == 'esim' %} <a href="{{ order.id_sim.link }}" target="_blank">
                                        <i class="bi bi-box-arrow-in-up-right text-info" 
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip"
                                        data-bs-title="Ver QRCode">
                                        </i></a>
                                    {% endif %}
                                </td>
                                <td>{{ order.id_sim.operator }}</td>
                                <td>{{ order.get_product_display }} {{ order.get_data_day_display }}</td>
                                <td>{% if order.countries == 0 %}-{% else %}<span class="badge text-bg-light">Sim</span>{% endif %}</td>
                                <td>{% if order.calls == 0 %}-{% else %}<span class="badge text-bg-light">Voz</span>{% endif %}</td>
                                <td>{{ order.days }}</td>
                                <td>
                                    {% if order.cell_mod  %}
                                    <a href="#"><i class="bi bi-phone text-primary"
                                        data-bs-toggle="popover" data-bs-placement="top"
                                        data-bs-custom-class="custom-popover"
                                        data-bs-content="{{order.cell_mod}}">
                                    </i></a>
                                    {% endif %}
                                    {% if order.cell_imei  %}
                                    <a href="#"><i class="bi bi-phone text-secondary"
                                        data-bs-toggle="popover" data-bs-placement="top"
                                        data-bs-custom-class="custom-popover"
                                        data-bs-content="IMEI - {{order.cell_imei}}">
                                    </i></a>
                                    {% endif %}
                                    {% if order.cell_eid  %}
                                    <a href="#"><i class="bi bi-phone text-secondary"
                                        data-bs-toggle="popover" data-bs-placement="top"
                                        data-bs-custom-class="custom-popover"
                                        data-bs-content="EID - {{order.cell_eid}}">
                                    </i></a>
                                    {% endif %}
                                </td>
                                <td>{{ order.ord_chip_nun }}</td>
                                <td>{{ order.activation_date|date:"d/m/Y" }}</td>
                                <td>
                                    {% with a=order.activation_date b=order.days %}
                                        {% dateaddday a b %}
                                    {% endwith %}
                                </td>
                                <td>{{ order.get_order_status_display }}</td>
                                <td>
                                    <a href="{% url 'ord_edit' order.id %}">
                                        <i class="bi-pencil-square me-2 text-info" data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip"
                                        data-bs-title="Editar">
                                        </i></a>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="14">Nenhum pedido encontrado.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="navigation">
                <ul class="pagination">
                    {% if orders.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ orders.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="">{{ orders.number }} de {{ orders.paginator.num_pages }}</a></li>
                    {% if orders.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ orders.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </form>
    </div>
</div>
{% endblock %}
{% block script_custom %}
<script>
    $(document).ready(function () {
        // Ação do botão "Marcar Todos"
        $('#checkAll').on('change', function () {
        $('.checkItem').prop('checked', this.checked);
        });
    });
</script>
<script>
    /* Tooltips */
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    /* Popovers */
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
{% endblock %}