/* Menu */
.dropdown-menu {
    --bs-dropdown-link-hover-bg: #1b4661 !important;
    --bs-dropdown-link-active-bg: #1b4661 !important;
}
.menu-user-top{
    --bs-dropdown-link-hover-bg: #EAEBEF !important;
    --bs-dropdown-link-active-bg: #EAEBEF !important;
}

/* Color line table */
.table {
    --bs-table-hover-bg: #dbe6ec !important;
}

.btn-outline-primary {
    --bs-btn-color: #21506f;
    --bs-btn-border-color: #21506f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #12364E;
    --bs-btn-hover-border-color: #12364E;
    --bs-btn-focus-shadow-rgb: 78, 115, 223;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #21506f;
    --bs-btn-active-border-color: #12364E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #21506f;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #21506f;
    --bs-gradient: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #21506f;
    --bs-btn-border-color: #21506f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #12364E;
    --bs-btn-hover-border-color: #12364E;
    --bs-btn-focus-shadow-rgb: 105, 136, 228;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #12364E;
    --bs-btn-active-border-color: #12364E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #21506f;
    --bs-btn-disabled-border-color: #21506f;
}
