{% extends 'painel/shared/base.html' %}

{% block page_title %}
<div class="page-title-head">
  <h4 class="page-main-title">{% block title_page %}{% endblock title_page %}</h4>
</div>
{% endblock page_title %}

{% block content %}
<div class="card mb-5">
  <div class="card-header">
    <h4 class="card-title text-uppercase">{% block title_content %}{% endblock title_content %}</h4>
  </div>
  <div class="card-body">
    {% block content_def %}{% endblock content_def %}
  </div>
</div>
{% endblock content %}
