{% extends 'painel/shared/base.html' %}
{% load static %}
{% block title_page %}<i class="bi bi-sim"></i> SIMs{% endblock %}
{% block content %}
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-secondary m-0 fw-bold">Adicionar SIM aos pedidos</p>
    </div>
    <div class="card-body">
        <form action="{% url 'sims_ord' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary mb-3">Adicionar (e)SIM aos pedidos</button>
            </div>
        </form>
        {% for ord in orders %}
            {{ord}}
        {% endfor %}
    </div>
</div>
{% endblock %}