{% extends 'painel/layouts/base.html' %}
{% load static i18n  %}

{% block html_attribute %}data-sidenav-size="on-hover-active"{% endblock html_attribute %}

{% block title %}On Hover Active{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}
<div class="wrapper">
            {% include 'painel/partials/topbar.html' with subtitle='Layouts' title='On Hover Active' %} {% include 'painel/partials/sidenav.html' %}

            <!-- Start Page Content here -->
<div class="page-content">
<main>
                    {% include 'painel/partials/page-title.html' with subtitle='Layouts' title='On Hover Active' %}

                    <div class="container-fluid">
<div class="bg-warning/10 text-warning border-s-3 border-warning rounded-md flex items-start gap-3 py-3 px-4 mb-4">
<div>
<i class="iconify tabler--info-circle text-xl"></i>
</div>
<div>
                                To enable the full menu on hover after minimizing the sidebar, add
                                <code>data-sidenav-size="on-hover-active"</code>
                                to the
                                <code><html></code>
                                tag in your layout.
                            </div>
</div>
<div class="card">
<div class="card-body text-center">
<h4 class="text-lg">Your custom content here</h4>
</div>
<!-- end card-body-->
</div>
<!-- end card-->
</div>
</main>

                {% include 'painel/partials/footer.html' %}
            </div>
<!-- End Page content -->
</div>

        {% include 'painel/partials/customizer.html' %} {% include 'painel/partials/footer-scripts.html' %}
{% endblock content %}

{% block scripts %}

{% endblock scripts %}
