{% extends 'painel/layouts/base.html' %}
{% load static i18n  %}

{% block html_attribute %}data-layout-position="scrollable"{% endblock html_attribute %}

{% block title %}Scrollable{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}
<div class="wrapper">
            {% include 'painel/partials/topbar.html' with subtitle='Layouts' title='Scrollable' %} {% include 'painel/partials/sidenav.html' %}

            <!-- Start Page Content here -->
<div class="page-content">
<main>
                    {% include 'painel/partials/page-title.html' with subtitle='Layouts' title='Scrollable' %}

                    <div class="container-fluid">
<div class="bg-info/10 text-info border-s-3 border-info rounded-md flex items-start gap-3 py-3 px-4 mb-4">
<div>
<i class="iconify tabler--info-circle text-xl"></i>
</div>
<div>
                                To enable full scrolling and view all content, please add
                                <code>data-layout-position="scrollable"</code>
                                to the
                                <code><html></code>
                                tag.
                            </div>
</div>
<div style="min-height: 100vh"></div>
</div>
</main>

                {% include 'painel/partials/footer.html' %}
            </div>
<!-- End Page content -->
</div>

        {% include 'painel/partials/customizer.html' %} {% include 'painel/partials/footer-scripts.html' %}
{% endblock content %}

{% block scripts %}

{% endblock scripts %}
